@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

body{
    font-family: 'Heebo', sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: #03ab81;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    display: flex; 
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
.logo{
    display: flex;    
    align-items: center;
}
.logo h1{        
   text-align: center;
   margin-right: 332px;
   margin-top: 25px;
}
.logo img {
    height: 70px;
    align-items: center;
    margin-right: 408px;
    margin-left: 5px;
}
nav a{
    font-weight: 100;
    padding-right: 15px;
}
nav a:hover{
    color: #0e4c3b;
}
.banner img{
    margin-top: 0px;
}
