@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
@import url(menu.css);

body {
  font-family: "Heebo", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
header {
  width: 100%;
  /*display: flex;*/
  height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color:white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.barraSup {
  width: 98%;
  margin: auto;
  text-decoration: none;
}
h1{
    float: left;
}
.barraSup img {
  height: 70px;
  align-items: center;
  margin-left: -10px;
  float: left;
  margin-right: 15px;
}
.barraSup h1 {
  text-decoration: none;
  color: #03ab81;
  padding-top: 0px;
  margin-top: 12px;
  float: left;
}
.barraSup h1 a {
  text-decoration: none;
  color: #03ab81;
}
header .barraSup {
  display: table;
  
}

#menu-bar{
    display: none;
}
header label{
    float: right;
    font-size: 40px;
    margin: 6.5px 0;
    cursor: pointer;
    color: #03ab81;
}
.menu{    
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 100vh;
    /*background: rgba(51, 51, 51, 0.9);*/
    background: #03ab81;
   transition: all 0.5s;
    transform: translateX(-100%);
}
.menu a{
    display:block;
    color: #fff;
    height: 25px;
      
    text-decoration: none;
    padding: 16px;
    /*padding-left: 0px;*/    
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.menu a:hover{
    background: rgba(255, 255, 255, 0.3);   
}
#menu-bar:checked ~ .menu{
    transform: translateX(0%);
}
@media (min-width:1024px) {
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
        background-color:white;        
    }
    .barraSup nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: auto;        
        margin-top: 5px;
        size: 20px;
        
      }
      .barraSup nav a{    
        text-decoration: none;
        font-weight: 100;
        padding-right: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-right: 35px;
        color: #03ab81;
      }
      .barraSup nav a:after{
        content: "";
        position: absolute;
        background-color: #03ab81;
        height: 3px;
        width: 0;
        left: 20;
        bottom: 10px;
        transition: 0.3s;
        justify-content: space-around;
      }
      .barraSup nav a:hover{
        color: #000;
      }
      .barraSup nav a:hover:after{
        width: 25.5%;   
      }
    .menu a{
        border: none;
    } 
    header label{
        display: none;
    }
}

