*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*CUERPO PRINCIPAL*/
body{
    background-color:   hsla(196, 37%, 50%, 0.497);
}
/*CABECERA*/
header{
    margin-top: 1.5rem;
    width: 100%;
    height: 100px;
    padding: 10px;
    padding-left: 20px;
    background-color: #03ABA1;
}
/*DENTRO CABECERA*/
.cabecera{
    height: 80px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;  
}
.cabecera_logo{
    display: flex;
}
.cabecera_logo img{
    width: 70px;
    background-color: beige;
    border-radius: 50PX;
}
/*TITULO*/
.cabecera_logo h1{
    padding-top: 17px;
    margin-left: 10px;
}
/*BOTON*/
.cabecera_boton{
    margin-right: 2rem;
    padding: 15px;
    width: 220px;
    height: 50px;
    border-radius: 10px;
    background-color: #ADE4DB;
    cursor: pointer;
}
.ayudanos{
    text-decoration: none;
    font-weight: bolder;
}

/*BODY IMAGEN MENU*/
.body_patitas{
    width: 100%;
    height: 118vh;
    display: flex;
    background: linear-gradient(
      to top,
      hsla(0, 0%, 100%, 0.411),
      hsla(196, 93%, 70%, 0.582),
      hsla(204, 64%, 44%, 0.589)
    ),
    url(../img/body_foto.jpeg);
    background-size: cover;
    background-position: top;
}
/*MENU*/
.body_menu{
    width: 60%;
    height: 40px;
    margin: 20% auto;
    text-align: center;
}
/*PALABRAS*/
.body_menu a{
    color: black;
    font-size: 26px;
    text-decoration-color: green;
}
/*PASAR MOUSE ENCIMA CAMBIA A BLANCO*/
.body_menu a:hover{
    color: whitesmoke;
    text-decoration-color:whitesmoke ;
}
/*PRESIONAR EN LAS LETRAS CAMBIA A VERDE*/
.body_menu a:active{
    color: #03ABA1;
    text-decoration-color:#03ABA1;
}
.menu_separa{
    margin-left: 45px;
}

