.1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1764px;
	position:absolute;
}
.e17_10 { 
	width:1440px;
	height:1764px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_11 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:1440px;
	height:1764px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_6 { 
	transform: rotate(-0.23781073360065996deg);
	color:rgba(0, 0, 0, 1);
	width:221.03257751464844px;
	height:41.0688591003418px;
	position:absolute;
	left:181px;
	top:746.9174194335938px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e6_9 { 
	color:rgba(0, 0, 0, 1);
	width:501px;
	height:16px;
	position:absolute;
	left:465px;
	top:560px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e9_17 { 
	width:422px;
	height:423px;
	position:absolute;
	left:478px;
	top:72px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_5 { 
	width:689px;
	height:866px;
	position:absolute;
	left:0px;
	top:898px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e14_27 { 
	background-color:rgba(82.87499696016312, 70.44375121593475, 70.44375121593475, 0.5299999713897705);
	width:559px;
	height:727px;
	position:absolute;
	left:42px;
	top:935px;
}
.e14_29 { 
	color:rgba(255, 255, 255, 1);
	width:433px;
	height:673px;
	position:absolute;
	left:88px;
	top:972px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e24_16 { 
	width:751px;
	height:866px;
	position:absolute;
	left:689px;
	top:898px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e17_6 { 
	background-color:rgba(82.87499696016312, 70.44375121593475, 70.44375121593475, 0.5299999713897705);
	width:559px;
	height:727px;
	position:absolute;
	left:768px;
	top:935px;
}
.e17_9 { 
	color:rgba(255, 255, 255, 1);
	width:397px;
	height:690px;
	position:absolute;
	left:849px;
	top:972px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e24_12 { 
	transform: rotate(-0.23781073360065996deg);
	color:rgba(0, 0, 0, 1);
	width:221.03257751464844px;
	height:31.79365348815918px;
	position:absolute;
	left:1143px;
	top:744.9174194335938px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e24_13 { 
	transform: rotate(-0.23781073360065996deg);
	color:rgba(0, 0, 0, 1);
	width:221.03257751464844px;
	height:31.79365348815918px;
	position:absolute;
	left:807px;
	top:744.9174194335938px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e24_14 { 
	transform: rotate(-0.23781073360065996deg);
	color:rgba(0, 0, 0, 1);
	width:221.03257751464844px;
	height:31.79365348815918px;
	position:absolute;
	left:429px;
	top:745.9174194335938px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}